services:
  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
      - backend

  web:
    build: ./web
    ports:
      - "80:8080"
    networks:
      - backend

  backend:
    build: ./backend
    environment:
      - PORT=5000
    networks:
      - backend


networks:
  web:
    driver: bridge
  backend:
    internal: true


#############################
# What I fixed in this file #
#############################
# 1. Made indentation atleast 2 instead of 1 for readability
# 2. Added some whitespace
# 3. Under networks -> app-network -> driver was indented wrongly
# 4. Services where indented wrongly so ports etc where not put correctly
# 5. Replaced `default` network with backend
# 6. Added `backend` which was missing under the `networks` tab
# 7. Removed version since this is no longer used in the latest version of Docker
# 8. Replaced `app-network` with `web` under the `networks` tab
# 9. Put service web into `backend` network
# 10. Flipped the ports of the web service to connect 80 to host and 8080 to container
#
