networks:
  edge-router:
    internal: false
  internal:
    internal: true


services:
  reverse-proxy:
    build:
      context: ./
      dockerfile: Dockerfile.nginx
    restart: unless-stopped
    ports:
      - ${REVERSE_PROXY_HTTP_PORT}:80  
      - ${REVERSE_PROXY_HTTPS_PORT}:443
    networks:
      - edge-router
      - internal
    volumes:
      - "./reverse-proxy/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "./certificates/fullchain.pem:/etc/nginx/fullchain.pem:ro"
      - "./certificates/privkey.pem:/etc/nginx/privkey.pem:ro"
    environments:
      REVERSE_PROXY_HOSTNAME: ${REVERSE_PROXY_HOSTNAME}

  webserver:
    build:
      context: ./
      dockerfile: Dockerfile.nginx
    restart: unless-stopped
    networks:
      - internal
    volumes:
      - "./webserver/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "./webserver/index.html:/usr/share/nginx/html/index.html:ro"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 5s
      timeout: 1s
      retries: 3
      start_period: 5s

  api:
    build:
      context: ./api
      dockerfile: Dockerfile.flask
    restart: unless-stopped
    networks:
      - edge-router
      - internal
    volumes:
      - "./api/main.py:/app/main.py:ro"
    environment:
      FLASK_ENV: "${FLASK_ENV}"
      FLASK_PORT: "${FLASK_PORT}"
      FLASK_DEBUG: "${FLASK_DEBUG}"
      FLASK_REVERSE_PROXY: "${FLASK_REVERSE_PROXY}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/api/health"]
      interval: 5s
      timeout: 1s
      retries: 3
      start_period: 5s
