---
- name: deploy-expert
  hosts: all
  vars:
    source_folder: "../3-expert/"
    destination_folder: "~/3-expert"

  tasks:
  - name: copy-expert-folder-contents
    ansible.builtin.copy:
      src: "{{ source_folder }}"
      dest: "{{ destination_folder }}/"
    register: task_result

  - name: check-if-docker-compose-is-valid
    ansible.builtin.command:
      cmd: docker compose config
      chdir: "{{ destination_folder }}"
    register: compose_check
    changed_when: false
    when: task_result.changed

  - name: stop-containers-and-remove-images
    community.docker.docker_compose_v2:
      project_src: "{{ destination_folder }}"
      remove_orphans: true
      remove_volumes: true
      remove_images: local
      state: absent
    when: task_result.changed

  - name: start-containers-and-build-images
    community.docker.docker_compose_v2:
      project_src: "{{ destination_folder }}"
      state: present
      build: policy
      scale:
        webserver: 4
        api: 4
    when: task_result.changed
