name: deploy-intermediate
run-name: Checking & deploying intermediate

on:
  push:
    # branches:
    #   - main
    paths:
      - 2-intermediate/**

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Install Ansible
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible
