name: deploy-bonus
run-name: Checking & deploying bonus

on:
  push:
    # branches:
    #   - main
    paths:
      - 99-bonus/**
      - .github/workflows/deploy-bonus.yml
      - playbooks/deploy-bonus.yml

env:
  ANSIBLE_HOST_KEY_CHECKING: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Ansible
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible

      - name: Check Ansible version
        run: ansible --version

      - name: Create Ansible inventory file
        run: |
          cat > inventory <<EOF
          [targets]
          ${SSH_HOST} ansible_user=${SSH_USER}
          EOF
        env:
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_USER: ${{ secrets.SSH_USER }}

      - name: Run Playbook
        run: |
          ansible-playbook ./playbooks/deploy-bonus.yml -i inventory --extra-vars "ansible_password=${SSH_PASSWORD}"
        env:
          SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
