name: deploy-intermediate
run-name: Checking & deploying intermediate

on:
  push:
    # branches:
    #   - main
    paths:
      - 2-intermediate/**
      - .github/workflows/deploy-intermediate.yml

env:
  ANSIBLE_HOST_KEY_CHECKING: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Ansible
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible

      - name: Check Ansible
        run: ansible --version

      - name: Create inventory file
        run: |
          cat > inventory <<'EOF'
          [targets]
          ${SSH_HOST} ansible_user=${SSH_USER} ansible_password=${SSH_PASSWORD}
          EOF
        env:
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}

      - name: Run Playbook
        run: ansible-playbook ./playbooks/deploy-intermediate.yml -i inventory
