name: deploy-expert
run-name: Checking & deploying expert

on:
  push:
    # branches:
    #   - main
    paths:
      - 3-expert/**
      - .github/workflows/deploy-expert.yml
      - playbooks/deploy-expert.yml

env:
  ANSIBLE_HOST_KEY_CHECKING: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install required packages
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible

      - name: Check Ansible version
        run: ansible --version

      - name: Check Docker version
        run: docker -v

      # This part is to check the nginx config files
      - name: Build temporary nginx image
        run: |
          ls ./3-expert # Some debugging
          docker build -t temp-alpine-nginx:test -f ./3-expert/Dockerfile.nginx ./3-expert # $GITHUB_WORKSPACE/3-expert/Dockerfile.nginx -f $GITHUB_WORKSPACE/3-expert/reverse-proxy/Dockerfile $GITHUB_WORKSPACE/3-expert/reverse-proxy

      - name: Create temporary self signed certificates
        run: |
          openssl req -x509 -nodes -days 30 \
            -newkey rsa:4096 \
            -keyout /etc/privkey.pem \
            -out /etc/fullchain.pem \
            -subj "/CN=example.com" \
            -addext "subjectAltName=DNS:example.com,DNS:www.example.com"

      - name: Check reverse-proxy Nginx config
        run: |
          docker run --rm \
          --add-host webserver:127.0.0.1 \
          --add-host api:127.0.0.1 \
          -v $(pwd)/3-expert/reverse-proxy/nginx.conf:/etc/nginx/nginx.conf:ro \
          -v /etc/privkey.pem:/etc/nginx/fullchain.pem:ro \
          -v /etc/privkey.pem:/etc/nginx/privkey.pem:ro \
          temp-alpine-nginx:test \
          nginx -t

      # This part runs the Ansible tasks
      - name: Create Ansible inventory file
        run: |
          cat > inventory <<EOF
          [targets]
          ${SSH_HOST} ansible_user=${SSH_USER}
          EOF
        env:
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_USER: ${{ secrets.SSH_USER }}

      - name: Run Playbook
        run: |
          ansible-playbook ./playbooks/deploy-expert.yml -i inventory --extra-vars "ansible_password=${SSH_PASSWORD} ssh_host=${SSH_HOST}"
        env:
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
